.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.column-articles .cards-card-body p:nth-child(2),
.column-articles-column-articles-nexttrip .cards-card-body p:nth-child(2) {
  font-size: 0.85em;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.column-articles .cards-card-image img,
.column-articles-column-articles-nexttrip .cards-card-image img {
  max-width: 100%;
  width: auto;
  height: 70%;
}