footer {
  background-color: var(--text-color);
  font-size: var(--body-font-size-xs);
  color: var(--light-color);
}
 
footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}
 
footer .section:first-child > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6rem;
  padding-bottom: 40px;
}
 
footer .section:first-child > div p {
  line-height: 0;
}
 
footer .section:first-child > div p a {
  background: transparent;
  font-size: var(--heading-font-size-xxl);
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--background-color);
  
}
 
footer .section:first-child > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
}
 
footer .section:first-child > div ul li a {
  color: var(--light-color);
  text-transform: uppercase;
}
 
footer .section:last-child > div {
  font-size: var(--body-font-size-2xs);
  display: flex;
  flex-direction: column;
  gap: .6rem;
}
 
footer .footer p {
  margin: 0;
}
 
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
 